@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1610017922930'); /* IE9 */
  src: url('iconfont.eot?t=1610017922930#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABnAAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gQ8BNgIkAwgLBgAEIAWEbQcuG7MFyA4lTRGFiCoEEEA8xO/37cy781XTmkPcjmbRZAkSoXkVi2UhdJPsmfz/d03/GCTl+QGSKkpODjiXkhqimisJNdSoidQm3IS8V5+4d9oECmQ+oBz3ojUGdQF1cSAFOtagT1YkkTeMXfACTxNoW9Ek6+zMkgMKJXtSIO4KnA8KCy4pWbQp1BtWpngNNc3qSfYj8Cr6fvzTEYVUaoWdd+HOdBDGftacuJzHmceuByRwE9D6GgqOA0lcaQydkyMYI0d7c64NIKXgZy2zwEZxVJ1gf52d2QVLkP9MAk/4qNEKHquvHeBwEgHEzr3PD44q/rb/0RiJ956ntfHz2f3xo9Np+/q1Tu2t5fsTKhM3aVn5xlMUcWy3lou2T7rp5Zz4x3s81yl8f5cTX053UhGoiTiDH/Pk3liWMYDFUXkoE5CFYDr/XrlVMfS/sJPgx3JvLXIsjhKGWUBz3+bgHwkGtqQhsg1VaoLGzsrOuava2ljAtrG/qerZDcVC02yCpWE5Q9G0RU76cdR0HKKu6QTajpld3zFB5Yhs4cAmQBg6Q6XvLYqhJ3LSf1Ez94+6YeSg7VrU7NixE0LxJMU+hoPIH0NCQFOJa2LFcbYNcyHZR/OiiOnC1BS8qL2lrRydxSqmS8wxw1wHYwQRqiloBpyHZVlDOtVEHGAtPGP6QGsraSKoJaApUOwMCvNhsCDELwYRBGhUJOjOFFc+b4NxQmQ+tKOpzuuCUSZhcKRdi7YB5Fm5OqjpUd4xhXE6MAyBEJRGgcyAYZhMpkH05mEiLIBpwU8I6Aa0Ou3IUHnL9krl7/ZAm62pwiku8jYVBQAA') format('woff2'),
  url('iconfont.woff?t=1610017922930') format('woff'),
  url('iconfont.ttf?t=1610017922930') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1610017922930#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erji:before {
  content: "\e605";
}

